.user-item{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    .user-photo{
    background: #33a0bb;
        width: 35px;
        height: 35px;
        padding: 2.5px;
    }
    .user-info{
        width: max-content;
        height: 35px;
        padding: 2.5px;
    }
}
.user-info {
    .user-info_first{
        font-size: medium;
        height: 18px;
    }
    .user-info_second{
        font-size: small;
        height: 14px;
    }
}